@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*Изменяем подсчет ширины блока*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Убераем линии и обводки*/
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/*Обьявляем теги блочными*/
nav, footer, header, aside {
  display: block;
}

/*Выравнивание шрифтов, размеров в разных браузерах.
Запрет самовольного увеличения! */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*Назначение шрифта по умолчанию для тегов*/
input, button, textarea {
  font-family: inherit;
}

/*Убераем особенности поведения разных тегов в разных браузерах*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Conv_Myriad Pro Regular";
  src: url("../fonts/Myriad Pro Regular.eot");
  src: local("☺"), url("../fonts/Myriad Pro Regular.woff") format("woff"), url("../fonts/Myriad Pro Regular.ttf") format("truetype"), url("../fonts/Myriad Pro Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%;
  font-family: Lato;
  font-size: 14px;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
}

.binary {
  min-height: 100vh;
  background: url("/image/BG-Header.png") 0 0/cover no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.binary__body {
  margin: 0px auto;
  min-height: 100%;
  text-align: center;
  padding: 274px 0px;
}

.binary__logo {
  width: 100%;
  text-align: center;
}

#title-white {
  font-family: "Lato";
  line-height: 40px;
  color: #ffffff;
  font-size: 34px;
  font-weight: 400px;
  text-align: center;
  margin: 159px 0px 0px 0px;
}

#title-white:after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #ffffff;
  margin: 0px 0px 0px -25px;
}

#subtitle {
  font-size: 26px;
  text-transform: lowercase;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 5.43px;
  line-height: normal;
  position: relative;
  padding: 0px 0px 30px 0px;
}

.read__more-buttons {
  margin: 120px 0px 0px 0px;
}

.read__more-button {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: Lato;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.67px;
  border: 1px solid #ffffff;
  padding: 18px 40px;
}

.arrow__down {
  display: inline-block;
  margin: 75px 0px 150px 0px;
  text-align: center;
}

.menu {
  padding: 10px 0px 10px 0px;
  text-align: center;
  margin: 10px 0px 150px 0px;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  margin: 0px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  border: 1px solid #000;
  color: #3c3c3c;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
  height: 50px;
  width: 170px;
  background-color: yellow;
  text-align: center;
  padding: 12.5px 0px 12.5px 0px;
}

.about__body {
  max-width: 823px;
  margin: 0 auto;
}

.about__header {
  margin: 0px 0px 65px 0px;
}

.about__title {
  margin: 0px 0px 30px 0px;
}

.about__text {
  /* Style for "We special" */
  max-width: 688px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  line-height: 25.89px;
  text-align: center;
  margin: 0 auto;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.about__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  text-align: center;
  padding: 0px 0px 30px 0px;
}

.title:after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #000;
  margin: 0px 0px 0px -25px;
}

.item-about__icon {
  margin: 0px auto;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  border: 2px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-about__title {
  margin: 40px 0px 35px 0px;
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.52px;
}

.item-about__text {
  color: #868585;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
}
